# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Leetcode.iml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Build Folders
bin/
obj/
out/

# User-specific files
*.user
*.userosscache
*.suo
*.userprefs

# Logs
*.log
*.tlog
*.log.json

# Crash Reports
*.dmp
*.stackdump

# Visual Studio-specific files
.vs/
.vscode/

# Rider-specific files
.idea/
*.sln.iml

# MacOS files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini

# Package directories (NuGet, NPM)
**/packages/
node_modules/
wwwroot/lib/

# Resharper files
_ReSharper*/
*.[Rr]e[Ss]harper

# Coverage Reports
coverage/
*.coverage
*.coveragexml
*.opencover
*.cobertura.xml

# Test Results
TestResults/
*.trx
*.cstest

# DotNet Restore Files
project.lock.json
project.fragment.lock.json
artifacts/

# Azure Web Apps Logs
azurefunctions/

# Entity Framework
Migrations/

# Temporary files
*.tmp
*.temp
*.cache
*.bak
*.swp

# Configurations
appsettings.Development.json
appsettings.local.json

# IDE Configurations
*.ideconfig

# Others
~$*

